<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hmas.api">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />


    <application
        android:name=".HmasApplication"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:allowBackup="true"
        android:label="Hmas Live Wallpaper"
        android:theme="@style/Theme.LiveHackerWallpaper">

        <!-- Settings Activity -->
        <activity
            android:name=".WallpaperSettingsActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>


        <service
            android:name=".HackerWallpaperService"
            android:permission="android.permission.BIND_WALLPAPER"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:label="HMAS Live Wallpaper"
            android:exported="true">


            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService" />
            </intent-filter>


            <meta-data
                android:name="android.service.wallpaper"
                android:resource="@xml/wallpaper" />

            <meta-data


            android:name="android.service.wallpaper.WallpaperSettings"
                android:value=".WallpaperSettingsActivity" />
        </service>
        <activity android:name=".ApiSettingsActivity" />


    </application>
</manifest>


